<form n:name="form">
	<div class="row g-3">
		<div class="col-12">
			<label n:name="title" class="form-label">Deal Title *</label>
			<input n:name="title" class="form-control">
			{inputError title}<div class="text-danger small">{/inputError}
		</div>
		<div class="col-md-6">
			<label n:name="contact_id" class="form-label">Contact</label>
			<select n:name="contact_id" class="form-select"></select>
		</div>
		<div class="col-md-6">
			<label n:name="company_id" class="form-label">Company</label>
			<select n:name="company_id" class="form-select"></select>
		</div>
		<div class="col-md-4">
			<label n:name="stage" class="form-label">Stage *</label>
			<select n:name="stage" class="form-select"></select>
		</div>
		<div class="col-md-4">
			<label n:name="value" class="form-label">Value</label>
			<input n:name="value" class="form-control">
		</div>
		<div class="col-md-4">
			<label n:name="currency" class="form-label">Currency</label>
			<select n:name="currency" class="form-select"></select>
		</div>
		<div class="col-md-4">
			<label n:name="probability" class="form-label">Probability %</label>
			<input n:name="probability" class="form-control">
		</div>
		<div class="col-md-4">
			<label n:name="expected_close_date" class="form-label">Expected Close</label>
			<input n:name="expected_close_date" class="form-control">
		</div>
		<div class="col-md-4">
			<label n:name="owner_id" class="form-label">Owner</label>
			<select n:name="owner_id" class="form-select"></select>
		</div>
		<div class="col-12">
			<label n:name="description" class="form-label">Description</label>
			<textarea n:name="description" class="form-control"></textarea>
		</div>
		<div class="col-12">
			<button n:name="send" class="btn btn-primary px-4">Save Deal</button>
			<a href="{link Deal:default}" class="btn btn-outline-secondary ms-2">Cancel</a>
		</div>
	</div>
</form>
