{layout '../@layout.latte'}
{block pageTitle}New Company{/block}
{block content}
<div class="mb-4">
	<a href="{link default}" class="text-muted small"><i class="bi bi-arrow-left"></i> Companies</a>
	<h4 class="fw-bold mb-0 mt-1">New Company</h4>
</div>
<div class="row"><div class="col-lg-8"><div class="card"><div class="card-body">{control companyForm}</div></div></div></div>
{/block}
